.bgBlue {
  background: rgb(33, 50, 70);
}

#map {
  width: 400px;
  height: 280px;
  border-radius: 15px;
  border: 5px solid white;
}

.boxx {
  border: 5px solid white;
  border-radius: 15px;
  color: white;
  background: rgba(33, 50, 70, 0.589);
}

.svgIcon:hover {
  cursor: pointer;
}

.giphy {
  height: 700px;
  background: url(./img/sun.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
