.bgBlue {
  background: rgb(33, 50, 70);
}
#map {
  width: 400px;
  height: 280px;
  border-radius: 15px;
  border: 5px solid white;
  display: none;
}

.boxx {
  border:5px solid white;
  border-radius: 15px;
  color: white;
}

.svgIcon:hover {
  cursor: pointer;
}


.giphy {
  height:700px;
}
